
@{
    ViewBag.Title = "Admin Control Panel";
}

<h2>Admin Control Panel</h2>

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Products Management", "Index", "Products")</li>
    <li>@Html.ActionLink("Categories Management", "Index", "Categories")</li>
    <li>@Html.ActionLink("Slide Banner Management", "Index", "Slides")</li>
</ul>