html,
body {
    height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

#push,
#footer {
    height: 60px;
}

#footer {
    background-color: #F8F8F8;
    margin-top: 50px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif !important;
}

/* nav */
.navbar {
    margin-bottom: 0;
}

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        padding-top: 25px;
        font-size: 1.1em;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

.navbar-text > a {
    color: inherit;
    text-decoration: none;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Slide banner style */
#banner .item img {
    display: block;
    width: 100%;
    height: auto;
}


/* Catalog preview */
.portfolio-item {
    margin-bottom: 20px;
    /*border: 1px solid #808080;*/
}

.product-learnmore a{
    color: white;
}

.product-details-wrap {
    margin-top: 20px;
}

/* make sidebar nav vertical */ 
.sidebar-nav-wrap .col-sm-3 {
    margin-top:20px;
}