@*@model IEnumerable<AcmeMenwear.Models.Slide>*@
@model HomepageViewModels

@{
    ViewBag.Title = "Home Page";
}

<!-- .carousel -->
<div id="banner" class="owl-carousel owl-theme">
    @foreach (var slide in Model.Slides)
    {
        <a class="banner-link" href="@Html.DisplayFor(modelItem => slide.SlideLink)">
            <div class="item"><img src="~/SlideImg?id=@Html.DisplayFor(modelItem => slide.SlideId)" alt=""></div>
        </a>
    }
</div>

<!-- /.carousel -->

<h2>Latest Arrivals</h2>
<hr />

<!-- Three columns of text below the carousel -->
<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4">
            <h2>Heading</h2>
            <img src="~/File?id=@Html.DisplayFor(modelItem => product.ProductId)" alt="Product Image" style="width:360px; height:240px" />
            <div>@Html.ActionLink("Details", "Details", "Products", new { id = product.ProductId }, null)</div>
        </div>
    }
</div>

