@*@model IEnumerable<AcmeMenwear.Models.Slide>*@
@model HomepageViewModels

@{
    ViewBag.Title = "Home Page";
}

<!-- .carousel -->
<div id="banner" class="owl-carousel owl-theme">
    @foreach (var slide in Model.Slides)
    {
        <a class="banner-link" href="@Html.DisplayFor(modelItem => slide.SlideLink)">
            <div class="item">
                <img src="~/SlideImg?id=@slide.SlideImg.FirstOrDefault(f => f.FileType == FileType.Image).SlideImgId" alt="">
            </div>
        </a>
    }
</div>

<!-- /.carousel -->

<h2>Latest Arrivals</h2>
<hr />

<div class="row">
    @foreach (var item in Model.Products)
    {
        <div class="col-md-4">
            <h2>@Html.DisplayFor(modelItem => item.ProductTitle)</h2>
            <img src="~/File?id=@item.Files.FirstOrDefault(f => f.FileType == FileType.Image).FileId" alt="Product Image" style="width:360px;height:240px" />
            <div>@Html.ActionLink("Details", "Details", "Products", new { id = item.ProductId }, null)</div>
        </div>
    }
</div>

